# Terraform
.terraform
credentials.auto.tfvars
credentials.yml
*.tfstate
*.tfstate.backup

# Variables for cloud-init
vars.yml

# instantiated cloudinit user data with actual passwords
user-data.yml
user-data.yaml
user_data.yml
user_data.yaml
network-config.yml
network-config.yaml
*_answerfile.toml

# Script output
out
