# Terraform
.terraform
credentials.auto.tfvars
credentials.yml
*.tfstate
*.tfstate.backup

# instantiated cloudinit user data with actual passwords
user-data.yml
user-data.yaml
user_data.yml
user_data.yaml
