network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true
      dhcp6: true
      optional: true
  wifis:
    wlan0:
      dhcp4: true
      regulatory-domain: "DE"
      access-points:
        "{{.AP_name}}":
          password: "{{.AP_psk}}"
      optional: true
